# Unreal Engine
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# Visual Studio
.vs/
*.user
*.userosscache
*.sln.docstates

# OS
.DS_Store
Thumbs.db
desktop.ini

# Compiled source
*.dll
*.exe
*.lib
*.pdb
*.exp

# Logs
*.log
